---
# csv
---

In [21]:
import pandas as pd 
import numpy as np

In [10]:
df = pd.read_csv('/Users/keonkookkim/Desktop/KKK/5. Numble_Challenge/3. Selenium/selenium_code_sector.csv')
del df['Unnamed: 0']
df['code'] = df['code'].astype(str)
df['code'] = df['code'].apply(lambda x : x.zfill(6))
df

        code  sector
0     017960     NaN
1     005380     NaN
2     380440     NaN
3     001680     NaN
4     004920     NaN
...      ...     ...
2418  151910     NaN
2419  123410     NaN
2420  347890     NaN
2421  023410     NaN
2422  075130     NaN

[2423 rows x 2 columns]

---
# selenium
---

In [2]:
cd /Users/keonkookkim/Documents

/Users/keonkookkim/Documents

In [3]:
!xattr -d com.apple.quarantine chromedriver # 맥에서 크롬 브라우저 허용하는 코드

xattr: chromedriver: No such xattr: com.apple.quarantine

In [4]:
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys # enter 치는 명령어
import csv

In [33]:
# 브라우저 생성 
browser = webdriver.Chrome('/Users/keonkookkim/Documents/chromedriver')

# 웹 사이트 열기 
browser.get('https://finance.naver.com/')

In [7]:
def sector_collect(code):
    # 검색창 클릭
    search = browser.find_element_by_xpath('//*[@id="stock_items"]')
    search.click()
    time.sleep(0.5)
    # 검색어 입력
    search.send_keys(code)
    search.send_keys(Keys.ENTER)
    time.sleep(8)
    # 종목분석 클릭
    search = browser.find_element_by_xpath('//*[@id="content"]/ul/li[6]/a/span')
    search.click()
    # iframe 선택 = 페이지 안의 페이지 요소
    browser.switch_to.frame('coinfo_cp')
    time.sleep(1)
    sector = browser.find_element_by_xpath('//*[@id="pArea"]/div[1]/div/table/tbody/tr[1]/td/dl/dt[4]').text
    browser.switch_to.parent_frame()
    time.sleep(1)
    return sector[7:]

In [41]:
for i in range(len(df)):
    if pd.isna(df['sector'][i]):
        name = sector_collect(df['code'][i])
        df['sector'][i] = name

In [46]:
df.to_csv('/Users/keonkookkim/Desktop/KKK/5. Numble_Challenge/3. Selenium/selenium_working.csv')